<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>腾讯微博第三方应用Demo---by heroicYang</title>
<link href="/static/styles/style.css" rel="stylesheet" type="text/css" />
<link href="/static/styles/tweetarea.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.limit-1.2.source.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("ul.subnav").parent().append("<span></span>");
		$("ul.topnav li span").click(function() { 
			$(this).parent().find("ul.subnav").slideDown('fast').show();
			$(this).parent().hover(function() {
			}, function(){
				$(this).parent().find("ul.subnav").slideUp('slow');
			});
		}).hover(function() {
			$(this).addClass("subhover");
		}, function(){
			$(this).removeClass("subhover");
		});
	});
</script>
{% block headcontent %}
{% endblock %}
</head>
<body>
	<div class="container">
		<div id="header">
    		<div class="disclaimer">
    			Demo created by <a href="http://t.qq.com/heroicYang">heroicYang</a>.
    		</div>
        	<ul class="topnav">
            	<li><a href="{% url weiboxauth_home %}">首页</a></li>
            	<li>
                	<a href="{% url weiboxauth_qqweibo_home_timeline %}">时间线</a>
                	<ul class="subnav">
                    	<li><a href="{% url weiboxauth_qqweibo_home_timeline %}">主页时间线</a></li>
                    	<li><a href="{% url weiboxauth_qqweibo_tweet %}">我发表的时间线</a></li>
                    	<li><a href="{% url weiboxauth_qqweibo_mentions_timeline %}">提到我的时间线</a></li>
                    	<li><a href="{% url weiboxauth_qqweibo_user_timeline 'heroicYang' %}">他人发表的时间线</a></li>
                    	<li><a href="{% url weiboxauth_qqweibo_public_timeline %}">广播大厅时间线</a></li>
                	</ul>
            	</li>
            	<li>
                	<a href="{% url weiboxauth_qqweibo_tweet %}">微博</a>
            	</li>
            	<li>
            		<a href="{% url weiboxauth_qqweibo_get_fanslist %}">关系链</a>
            		<ul class="subnav">
            			<li><a href="{% url weiboxauth_qqweibo_get_fanslist %}">我的听众</a></li>
            			<li><a href="{% url weiboxauth_qqweibo_get_idollist %}">我的收听</a></li>
            			<li><a href="{% url weiboxauth_qqweibo_get_speciallist %}">我的特别收听</a></li>
            			<li><a href="{% url weiboxauth_qqweibo_get_blacklist %}">我的黑名单</a></li>
            		</ul>
            	</li>
            	<li><a href="#">联系我</a></li>
            	<li><a href="#">SDK下载</a></li>
        	</ul>
    	</div>
    	<div id="main">
    		{% block content %}
    		{% endblock %}
    	</div>
	</div>
</body>
</html>
